<div class="col comic-list-spacer col-sm-2" ng-class="{'no-width': currentC}"></div>
<div class="col comic-list" ng-class="{'col-sm-8': !currentC, 'col-sm-3': currentC}">
  <div class="comic-in-list" ng-repeat="c in comics" ng-class="{'first-comic': $first}" ng-click="comicModalByIndex($index)">
    <span class="comic-number" ng-bind="'#' + c.number"></span>
    <span class="comic-title" ng-bind="c.title"></span>

    <div class="comic-image-wrap" ng-if="$first">
      <img ng-src="{{c.imgUrl}}">
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="comic-slide-container">
  <div class="container">
    <div class="col col-sm-3"></div>
    <div class="col comic-slide" ng-class="{'col-sm-0': !currentC, 'col-sm-9': currentC}">
      <div class="row">
        <div class="col-sm-10">
          <button type="button" class="close" ng-click="closeCurrent()">&times;</button>
          <span ng-bind="currentC.title" class="comic-title"></span>
        </div>
        <div class="col-sm-2"></div>
      </div>
      
      <comic-image img-url="currentC.imgUrl" title="{{currentC.altText}}"></comic-image>
    </div>
  </div>  
</div>